<h1>Bienvenido al Control de Adicciones</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit blandit suscipit. 
Vivamus ornare lacinia dolor, ac accumsan dolor dictum et. Fusce non tempus mauris. Aliquam 
sit amet consectetur nunc. Suspendisse porta cursus turpis a faucibus. Vestibulum ut arcu 
eget enim pretium commodo sit amet gravida lectus. Cras massa lectus, egestas id viverra id, 
rhoncus ut turpis. Maecenas lacinia convallis elit, et aliquam est mollis quis.</p>

<p>Phasellus sollicitudin, augue vel adipiscing scelerisque, lacus odio cursus mauris, vel 
venenatis felis ipsum non est. Aliquam auctor mi eget tellus dignissim ut consequat diam 
suscipit. Ut ultricies augue non nulla auctor porttitor ac eget turpis. Sed ultricies placerat 
urna, quis suscipit urna faucibus at. Ut hendrerit placerat mauris in laoreet. Suspendisse 
interdum placerat libero sed viverra. Pellentesque orci nibh, molestie at convallis sed, 
dignissim sit amet lacus. Cras consectetur tempus posuere.</p>

<table>
	<tr>
		<td><%= link_to "Adiccion 1", '#', :class => "addiction_button round" %></td>
		<td><%= link_to "Adiccion 2", '#', :class => "addiction_button round" %></td>
		<td><%= link_to "Adiccion 3", '#', :class => "addiction_button round" %></td>
		<td><%= link_to "Adiccion 4", '#', :class => "addiction_button round" %></td>
	</tr>
</table>
